<!DOCTYPE HTML>
<html>
    <head>
        <title>LifeUp account sign up</title>
        <link rel="stylesheet" type="text/css" href="/static/assets/css/main.css"/>
    </head>
    <body>
        <nav id="nav">
			<ul>

				<li><a href="/">Home</a></li>
				<li><a href="/articles">Articles</a></li>
				<li><a href="/signup">Create an Account</a></li>
				<li>
					<div class="dropdown">
						<span class="dropbtn" style="color: white">Account Login/Logout</span>
						<div class="dropdown-content">
							{% if 'username' not in session: %}

							<form method='POST' action='/login'>
								<a style="background-color: none; color: white; padding: 0em; text-decoration: none; display: block; width: 100%;" href="#"><input type='text' name='username' placeholder="Enter your username" style="height: 35px;" ></a>
								<a style="background-color: none; color: white; padding: 0em; text-decoration: none; display: block; width: 100%;" href="#"><input type='text' name='password' placeholder="Enter your password" style="height: 35px;" ></a>
								<input type='submit' value='Submit' style="background-color: none; color: white; padding: 0em; text-decoration: none; display: block; height: 10%; width: 100%;" href="#">
							</form>
							{% else: %}
							<h6 style="color: white;">You are logged in as {{session['username']}}</h6>
							<a href="/logout">Logout</a> {% endif %}
						</div>
					</div>
				</li>

			</ul>
		</nav>
    </body>
</html>